<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Daily dietary consumption capture and totals reporting" />
        <meta name="keywords" content="diet" />

        <title>Daily dietary consumption capture and totals reporting</title>


        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
        <script>
            //<![CDATA[

            'use strict';
            var energyDensities = {
                fat: 9,
                ethanol: 7,
                protein: 4,
                carbohydrate: 4,
                organicAcid: 3,
                polyol: 2.4,
                fibre: 2
            };

            var dietServices = angular.module('info.drealm.diet.services', ['ngResource', 'ngRoute']);
            dietServices
            .factory('Food', ['$resource', function($resource) {
                return $resource(
                    'rest/foods/:id', {'id': '@id'},
                    {
                        update: {
                            method: 'PUT',
                            params: {
                                id: '@id'
                            }
                        }
                    }
                );
            }])
            .factory('DietEntry', ['$resource', function($resource) {
                return $resource(
                    'rest/diet_entries/:id', {'id': '@id'},
                    {
                        countByDateRange: {
                            method: 'GET',
                            params: {
                                start_date: '@start_date',
                                end_date: '@end_date'
                            },
                            url: 'rest/diet_entries?count=true&filter,min,entry_date,:start_date&filter,max,entry_date,:end_date',
                        },
                        firstEntry: {
                            method: 'GET',
                            url: 'rest/diet_entries?by=entry_date&limit=1',
                            isArray: true
                        },
                        queryByDate: {
                            method: 'GET',
                            params: {
                                entry_date: '@entry_date'
                            },
                            url: 'rest/diet_entries/entry_date/:entry_date',
                            isArray: true
                        },
                        queryByFoodId: {
                            method: 'GET',
                            params: {
                                food_id: '@food_id'
                            },
                            url: 'rest/diet_entries/food_id/:food_id',
                            isArray: true
                        },
                        update: {
                            method: 'PUT',
                            params: {
                                id: '@id'
                            }
                        }
                    }
                );
            }])
            .factory('Query', ['$resource', function($resource) {
                return $resource(
                'rest/*?query=:query&arguments=:arguments', {},
                {
                    foodFreedCount: {
                        method: 'GET',
                        params: {
                            'query': 'foodFreedCount',
                            'start_date': '@start_date' ,
                            'end_date': '@end_date'
                        },
                        url: 'rest/*?query=:query&arguments=:start_date,:end_date',
                        isArray: true
                    }
                }
                );
            }])
            .factory('ArchiveDietEntries', ['$resource', function($resource) {
                return $resource(
                'archiveDietEntries', {},
                {
                    list: {
                        method: 'GET',
                        isArray: true
                    },
                    create: {
                        method: 'POST',
                        params: {
                            'archive': '@archive',
                            'start_date': '@start_date',
                            'end_date': '@end_date'
                        }
                    },
                    delete: {
                        method: 'DELETE',
                        params: {
                            'archive': '@archive'
                        }
                    },
                    restore: {
                        method: 'GET',
                        params: {
                            'archive': '@archive'
                        },
                        url: 'archiveDietEntries/:archive?action=restore'
                    }
                }
                );
            }])
            ;

            var dietControllers = angular.module('info.drealm.diet.controllers', [
                'info.drealm.diet.services'
            ]);
            dietControllers
            .controller('Diet', ['$scope', '$filter', '$modal', 'Food', 'DietEntry', function($scope, $filter, $modal, Food, DietEntry) {

                $scope.isOpen = false;
                $scope.selectedDate = undefined;
                $scope.sdComparable = undefined;
                $scope.today = new Date();
                $scope.foods = [];
                $scope.foodItems = [];
                $scope.dietEntries = [];
                $scope.totals = {
                    'calories': { label: 'Calories', value: 0 },
                    'wwpoints': { label: 'WW Points', value: 0 },
                    'protein': { label: 'Protein', value: 0 },
                    'carbohydrate': { label: 'Carbohydrate', value: 0 },
                    //'sugar': { label: 'Sugar', text: "of which Sugars", value: 0 },
                    'fat': { label: 'Fats', value: 0 },
                    'fibre': { label: 'Fibre', value: 0 },
                    'fruitnveg': { label: 'Ptns Fruit/Veg', value: 0 },
                    'sodium': { label: 'Sodium', value: 0 },
                    'potassium': { label: 'Potassium', value: 0 },
                };

                $scope.getSetSelectedDate = function(_newValue) {
                    if (_newValue && $scope.selectedDate != _newValue) {
                        $scope.selectedDate = _newValue;
                        $scope.sdComparable = $filter('date')($scope.selectedDate, 'yyyy-MM-dd', 0);
                        getFoodItems();
                    }
                    return $scope.selectedDate;
                };

                var fetchFoods = function(success, failure) {
                    Food.query({by: 'name'},
                        function(value) { //success
                            $scope.foods = value;
                            if (success) success(arguments);
                        },
                        function() { //error
                            console.error('Food.query error');
                            console.error(arguments);
                            if (failure) failure(arguments);
                        }
                    );
                };

                var getFoodItems = function() {

                    $scope.foodItems = [];

                    angular.forEach($scope.totals, function(total, id) {
                        total.value = 0;
                        if (typeof energyDensities[id] != 'undefined') {
                            total.percentage = 0;
                        }
                    });

                    if (!$scope.sdComparable || $scope.foods.length === 0) {
                        return;
                    }

                    var id = 0;
                    var dietEntries = DietEntry.queryByDate(
                        { entry_date: $scope.sdComparable, by: 'id' },
                        function() { // success
                            angular.forEach(dietEntries, function(dietEntry) {
                                var foodItem = new FoodItem(dietEntry);
                                foodItem.id = id++;
                                $scope.foodItems.push(foodItem);
                            });
                            calculateTotals();
                        },
                        function() { // error
                            console.log('DietEntry.queryByDate error');
                            angular.forEach(arguments, function(a) { console.log(a); });
                        }
                    );
                };

                var calculateTotals = function() {

                    angular.forEach($scope.totals, function(total, id) {
                        total.value = 0;
                        if (typeof energyDensities[id] != 'undefined') {
                            total.percentage = 0;
                        }
                    });

                    // Get total calories
                    angular.forEach($scope.foodItems, function(foodItem, index, array) {
                        $scope.totals.calories.value += foodItem.calories();
                    });

                    // Get total for other entry nutrient
                    angular.forEach($scope.foodItems, function(foodItem, index, array) {
                        angular.forEach($scope.totals, function(total, id) {
                            if (id != 'calories' && typeof foodItem[id] !== 'undefined') {
                                total.value += foodItem[id]();
                            }
                        });
                    });

                    // Get percentage of daily calories for each nutrient
                    angular.forEach($scope.totals, function(total, id) {
                        if(id != 'calories' && typeof energyDensities[id] != 'undefined' && $scope.totals.calories.value > 0) {
                            total.percentage = 100 * (total.value * energyDensities[id]) / $scope.totals.calories.value;
                        }
                    });

                };

                var FoodItem = function(dietEntry) {
                    var self = this;

                    this.save = function() {
                        DietEntry.update(self.dietEntry,
                            function() { // success
                                calculateTotals();
                            },
                            function() { // error
                                console.log('DietEntry.update error');
                                angular.forEach(arguments, function(a) { console.log(a); });
                                self.dietEntry = DietEntry.get({id: self.id});
                                calculateTotals();
                            }
                        );
                    }

                    this.getSetDate = function(_newValue) {
                        if (arguments.length && self.dietEntry.entry_date != $filter('date')(_newValue, 'yyyy-MM-dd', 0)) {
                            self.dietEntry.entry_date = $filter('date')(_newValue, 'yyyy-MM-dd', 0);
                            self.save();
                        }
                        return self.dietEntry.entry_date;
                    };

                    this.findFood = function(foodId) { return $filter('filter')($scope.foods, function(food, index, foods) { return food.id === foodId; }, true).pop(); };

                    this.getSetFoodId = function(_newValue) {
                        if (arguments.length && self.dietEntry.food_id != _newValue) {
                            self.dietEntry.food_id = _newValue;
                            self.food = self.findFood(self.dietEntry.food_id);
                            self.save();
                        }
                        return self.dietEntry.food_id;
                    };

                    this.getSetQuantity = function(_newValue) {
                        if (arguments.length && self.dietEntry.quantity != _newValue) {
                            self.dietEntry.quantity = _newValue;
                            self.save();
                        }
                        return 1.0000 * self.dietEntry.quantity;
                    };

                    this.calculate =    function(what) { return self.dietEntry.quantity * (self.food[what] || 0); };
                    this.calories =     function() { return self.calculate('calories'); };
                    this.wwpoints =     function() { return self.calculate('wwpoints'); };
                    this.protein =      function() { return self.calculate('protein'); };
                    this.carbohydrate = function() { return self.calculate('carbohydrate'); };
                    this.sugar =        function() { return self.calculate('sugar'); };
                    this.fat =          function() { return self.calculate('fat'); };
                    this.fibre =        function() { return self.calculate('fibre'); };
                    this.fruitnveg =    function() { return self.calculate('fruitnveg'); };
                    this.sodium =       function() { return self.calculate('sodium'); };
                    this.potassium =    function() { return self.calculate('potassium'); };

                    this.id = 0 + dietEntry.id;
                    this.dietEntry = dietEntry;
                    this.food = self.findFood(self.dietEntry.food_id);

                };

                $scope.deleteFoodItem = function(foodItem) {
                    var i = $scope.foodItems.indexOf(foodItem);
                    if (i < 0) {
                        return;
                    }
                    DietEntry.delete(foodItem.dietEntry,
                        function() { // success
                            $scope.foodItems.splice(i, 1);
                            calculateTotals();
                        },
                        function() { // error
                            console.log('DietEntry.$delete error');
                            angular.forEach(arguments, function(a) { console.log(a); });
                            getFoodItems();
                        }
                    );
                };

                $scope.addFoodItem = function() {
                    var dietEntry = {
                        id:         -1,
                        entry_date: $scope.sdComparable,
                        food_id:    $scope.foods[0].id,
                        quantity:   1
                    };
                    DietEntry.save(dietEntry,
                        function(response) { // success
                            var foodItem = new FoodItem(response);
                            $scope.foodItems.push(foodItem);
                            calculateTotals();
                        },
                        function() { // error
                            console.log('DietEntry.save error');
                            angular.forEach(arguments, function(a) { console.log(a); });
                            getFoodItems();
                        }
                    );
                };

                $scope.foodListEditor = function () {
                    var modalInstance = $modal.open({
                        animation: true,
                        backdrop: 'static',
                        size: 'lg',
                        templateUrl: 'foodListEditor.html',
                        controller: 'DietFoodListEditor',
                        resolve: {
                            Columns: function() {
                                var columns = [{'key': 'name', 'label': 'Name'}];
                                ['calories', 'protein', 'carbohydrate', 'fat', 'fibre', 'fruitnveg', 'sodium', 'potassium', 'wwpoints'].forEach(function(name) {
                                    columns.push({
                                        'key': name,
                                        'label': $scope.totals[name].label
                                    });
                                });
                                return columns;
                            }
                        }
                    });

                    modalInstance.result.then(function() { fetchFoods(); }, function() { fetchFoods(); });
                };

                $scope.archiveDietEntries = function() {
                    var modalInstance = $modal.open({
                        animation: true,
                            backdrop: 'static',
                            size: 'lg',
                            templateUrl: 'archiveDietEntries.html',
                            controller: 'DietArchiveEntries'
                    });

                    modalInstance.result.then(function() { getFoodItems(); }, function() { getFoodItems(); });
                };

                $scope.quantityFocussed = function(e) {
                    if (e && e.target) {
                        var target = e.target;
                        setTimeout(function() { target.select(); }, 0);
                    }
                };

                // ------------------------------

                fetchFoods(function() { $scope.getSetSelectedDate($scope.today); });

            }])
            .controller('DietFoodListEditor', ['$scope', '$modalInstance', '$modal', 'Food', 'DietEntry', 'Columns', function($scope, $modalInstance,  $modal, Food, DietEntry, Columns) {

                $scope.columns = Columns;

                $scope.foods = Food.query({by: 'name'},
                    function() { // success
                    },
                    function() { //error
                        console.error('Food.query error');
                        console.error(arguments);
                    }
                );

                $scope.done = function () {
                    $modalInstance.close({});
                };

                $scope.add = function() {
                    var newFood = {
                        //id: -1,
                        name: '',
                        calories: '-1',
                        protein: '-1',
                        carbohydrate: '-1',
                        fat: '-1',
                        fibre: '-1'
                    };
                    Food.save(newFood,
                        function(food) { // success
                            console.log(arguments);
                            $scope.foods.unshift(food);
                            $scope.edit(food);
                        },
                        function() { // failure
                            console.error('Add failure');
                            console.error(arguments);
                            alert('Failed to add new food.');
                        }
                    );
                };

                $scope.delete = function(food, e) {
                    if (e) {
                        e.stopPropagation();
                    }
                    if ($scope.foods.indexOf(food) < 0) {
                        return;
                    }
                    var _queryByFoodId = food.id;
                    DietEntry.queryByFoodId({food_id: _queryByFoodId},
                        function(response) { // success
                            var _deleteClass;
                            var dietEntriesForFood;
                            if (response.length) {
                                var dietEntry = response[response.length - 1];
                                _deleteClass = 'btn-danger';
                                dietEntriesForFood = {entries: response.length, entryDate: dietEntry.entry_date};
                            } else {
                                _deleteClass = 'btn-warning';
                                dietEntriesForFood = {entries: 0};
                            }
                            var confirmed = confirm('"' + food.name + '" is used in ' + dietEntriesForFood.entries + ' diet entries.' + "\n" +
                                (dietEntriesForFood.entries ? 'Last entry date: ' + dietEntriesForFood.entryDate + "\n" : '') +
                                'Are you sure you want to delete this food and associated diet entries?');
                            if (confirmed) {
                                var theFood = {
                                    id: food.id
                                };
                                Food.remove(theFood,
                                    function() { // success
                                        var i = $scope.foods.indexOf(food);
                                        $scope.foods.splice(i, 1);
                                        //alert('Deleted food.');
                                    },
                                    function() { // failure
                                        console.error('Delete failure');
                                        console.error(arguments);
                                        alert('Failed to delete food.');
                                    }
                                );
                            }
                        },
                        function() { // failure
                            console.error('queryByFoodId failure');
                            console.error(arguments);
                            alert('Failed to contact server');
                        }
                    );
                };

                $scope.edit = function (food) {
                    var modalInstance = $modal.open({
                        animation: true,
                        backdrop: 'static',
                        size: 'lg',
                        templateUrl: 'foodEditor.html',
                        controller: 'DietFoodEditor',
                        resolve: {
                            Columns: function() { return $scope.columns; },
                            SelectedFood: function() { return food; }
                        }
                    });

                    modalInstance.result.then(
                        function(result) {
                            if (result.delete) {
                                $scope.delete(food);
                            }
                        },
                        function() {
                            //?
                        }
                    );
                };

            }])
            .controller('DietFoodEditor', ['$scope', '$modalInstance', 'Food', 'Columns', 'SelectedFood', function($scope, $modalInstance, Food, Columns, SelectedFood) {

                $scope.columns = Columns;
                $scope.selectedFood = SelectedFood;

                $scope.delete = function () {
                    $modalInstance.close({delete: true});
                };

                $scope.done = function () {
                    $modalInstance.close({});
                };

                var getSet = function(key, _newValue) {
                    if (!$scope.selectedFood || arguments.length == 0) return undefined;

                    if (arguments.length < 2) return $scope.selectedFood[key];

                    if (('' + $scope.selectedFood[key]) != ('' + _newValue)) {
                        var oldFood = $scope.selectedFood;
                        var oldValue = oldFood[key];

                        $scope.selectedFood[key] = _newValue;
                        var theFood = {
                            id: $scope.selectedFood.id
                        };
                        theFood[key] = _newValue;
                        Food.update(theFood,
                            function() { // success
                            },
                            function() { // failure
                                console.error('Update failure');
                                console.error(arguments);
                                $scope.selectedFood = undefined;
                                oldFood[key] = oldValue;
                                alert('Failed to update food.');
                            }
                        );
                    }
                    return $scope.selectedFood[key];
                };
                $scope.gs_name = function() { return arguments.length ? getSet('name', arguments[0]) : getSet('name'); }
                $scope.gs_calories = function() { return arguments.length ? getSet('calories', arguments[0]) : getSet('calories'); }
                $scope.gs_protein = function() { return arguments.length ? getSet('protein', arguments[0]) : getSet('protein'); }
                $scope.gs_carbohydrate = function() { return arguments.length ? getSet('carbohydrate', arguments[0]) : getSet('carbohydrate'); }
                $scope.gs_fat = function() { return arguments.length ? getSet('fat', arguments[0]) : getSet('fat'); }
                $scope.gs_fibre = function() { return arguments.length ? getSet('fibre', arguments[0]) : getSet('fibre'); }
                $scope.gs_fruitnveg = function() { return arguments.length ? getSet('fruitnveg', arguments[0]) : getSet('fruitnveg'); }
                $scope.gs_sodium = function() { return arguments.length ? getSet('sodium', arguments[0]) : getSet('sodium'); }
                $scope.gs_potassium = function() { return arguments.length ? getSet('potassium', arguments[0]) : getSet('potassium'); }
                $scope.gs_wwpoints = function() { return arguments.length ? getSet('wwpoints', arguments[0]) : getSet('wwpoints'); }

            }])
            .controller('DietArchiveEntries', ['$scope', '$filter', '$modalInstance', 'DietEntry', 'Query', 'ArchiveDietEntries', function($scope, $filter, $modalInstance, DietEntry, Query, ArchiveDietEntries) {

                $scope.archiveId = "";
                $scope.archivedEntryCount =  '(count unknown)';
                $scope.foodFreedCount = "(count unknown)";
                var startDate;
                var endDate;
                var archiveList = [];

                var setFirstEntryDate = function() {
                    DietEntry.firstEntry(
                        function(response) { // success
                            console.log({f: 'getFirstEntryDate', s: 'success', a: arguments});
                            var _firstEntryDate = new Date(response[0].entry_date);
                            // do not call getSetXDate
                            startDate = _firstEntryDate;
                            endDate = _firstEntryDate;
                            updateArchivedEntryCount();
                            updateFoodFreedCount();
                        },
                        function() { // failure
                            console.log({f: 'getFirstEntryDate', s: 'failure', a: arguments});
                        }
                    );
                };
                setFirstEntryDate();

                $scope.getSetStartDate = function(_newValue) {
                    if (arguments.length && startDate != _newValue) {
                        startDate = _newValue;
                        updateArchivedEntryCount();
                        updateFoodFreedCount();
                    }
                    return startDate;
                }

                $scope.getSetEndDate = function(_newValue) {
                    if (arguments.length && endDate != _newValue) {
                        endDate = _newValue;
                        updateArchivedEntryCount();
                        updateFoodFreedCount();
                    }
                    return endDate;
                }

                var updateArchivedEntryCount = function() {
                    if (!startDate || !endDate) {
                        return;
                    }
                    DietEntry.countByDateRange(
                        {start_date: $filter('date')(startDate, 'yyyy-MM-dd', 0), end_date: $filter('date')(endDate, 'yyyy-MM-dd', 0)},
                        function(response) { // success
                            console.log({f: 'DietArchiveEntries updateArchivedEntryCount', s: 'success', a: arguments});
                            $scope.archivedEntryCount = response.count;
                        },
                        function() { // failure
                            console.error({f: 'DietArchiveEntries updateArchivedEntryCount', s: 'failure', a: arguments});
                            $scope.archivedEntryCount =  '(count unknown)';
                        }
                    );
                };

                var updateFoodFreedCount = function() {
                    if (!startDate || !endDate) {
                        return;
                    }
                    Query.foodFreedCount(
                        {start_date: $filter('date')(startDate, 'yyyy-MM-dd', 0), end_date: $filter('date')(endDate, 'yyyy-MM-dd', 0)},
                        function(response) { // success
                            console.log({f: 'DietArchiveEntries updateFoodFreedCount', s: 'success', a: arguments});
                            $scope.foodFreedCount = response[0].count;
                        },
                        function() { // failure
                            console.error({f: 'DietArchiveEntries updateFoodFreedCount', s: 'failure', a: arguments});
                            $scope.foodFreedCount =  '(count unknown)';
                        }
                    );
                };

                $scope.submit = function() {
                    if (!$scope.archiveDietEntriesForm.$valid) {
                        return;
                    }
                    ArchiveDietEntries.create(
                        {archive: $scope.archiveId, start_date: $filter('date')(startDate, 'yyyy-MM-dd', 0), end_date: $filter('date')(endDate, 'yyyy-MM-dd', 0)},
                        function(response, headers) { // success
                            console.log({f: 'DietArchiveEntries submit', s: 'success', a: arguments, rowCount: rowCount, headers: headers});
                            var rowCount = response.count;
                            var archive = headers('Location');
                            alert(rowCount + ' items written to ' + archive);
                            $modalInstance.close({});
                        },
                        function() { // failure
                            console.error({f: 'DietArchiveEntries submit', s: 'failure', a: arguments});
                            alert('Failed');
                        }
                    );
                };

                $scope.close = function() {
                    $scope.archiveId = "x";
                    $scope.archiveId.$valid = true;
                    $scope.archiveDietEntriesForm.$valid = true;
                    $modalInstance.close({});
                };

                $scope.getSetArchiveList = function(_newValue) {
                    if (arguments.length && archiveList != _newValue) {
                        archiveList = _newValue;
                    }
                    return archiveList;
                }
                var setArchiveList = function() {
                    ArchiveDietEntries.list(
                        function(response) { // success
                            $scope.getSetArchiveList(response);
                        },
                        function() { // failure
                            console.error({f: 'DietArchiveEntries list', s: 'failure', a: arguments});
                        }
                    );
                }
                setArchiveList();

                $scope.delete = function(item) {
                    item = item.split('/').reverse()[0];
                    ArchiveDietEntries.delete(
                        {archive: item},
                        function() { // success
                        },
                        function() { // failure
                            console.error({f: 'DietArchiveEntries delete', s: 'failure', a: arguments});
                            alert('Failed');
                        }
                    );
                };

                $scope.restore = function(item) {
                    item = item.split('/').reverse()[0];
                    ArchiveDietEntries.restore(
                        {archive: item},
                        function() { // success
                        },
                        function() { // failure
                            console.error({f: 'DietArchiveEntries restore', s: 'failure', a: arguments});
                            alert('Failed');
                        }
                    );
                };

                $scope.upload = function() {
                    alert('Not yet implemented');
                };

            }])
            ;

            var dietDirectives = angular.module('info.drealm.diet.directives', []);
            dietDirectives
            .directive('dietDaily', ['$parse', function($parse) {
                return {
                    restrict: 'E',
                    scope: true,
                    link: function(scope, element, attrs) {
                        var isTotal = (typeof attrs.total !== 'undefined') || (typeof attrs.percentage === 'undefined');
                        scope.label = attrs.text || (isTotal ? 'Total ' : 'Percentage ') + scope.totals[attrs.of].label;
                        scope.what = scope.totals[attrs.of];
                        scope.which = isTotal ? 'value' : 'percentage';
                        scope.dp = attrs.dp || 2;
                    },
                    templateUrl: 'dietDaily.html'
                };
            }])
            .directive('dietEditDetail', ['$parse', function($parse) {
                return {
                    restrict: 'E',
                    scope: true,
                    link: function(scope, element, attrs) {
                        scope.label = attrs.text || scope.totals[attrs.of].label;
                        scope.what = scope.totals[attrs.of];
                    },
                    templateUrl: 'dietEditDetail.html'
                };
            }])
            ;

            var dietApp = angular.module('info.drealm.diet.app', [
                'ngSanitize',
                'ui.bootstrap',
                'info.drealm.diet.controllers',
                'info.drealm.diet.directives'
            ]);

            // ]]>
        </script>

        <link rel="stylesheet" type="text/css" href="/css/drealm.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/lumen/bootstrap.min.css">
        <style>
.odd-food {
    background: #fefefe;
}
.even-food {
    background: #efefef;
}
        </style>
    </head>

    <body>
        <div data-ng-app="info.drealm.diet.app" data-ng-controller="Diet" class="container-fluid text-default bg-default">
            <div>&nbsp;</div>

            <div class="well">
                <div class="row bg-default" id="datePicker">
                    <div class="col-xs-8 col-sm-4 form-group">
                        <div class="form-horizontal">
                            <label class="hidden-xs col-sm-4 col-md-8 control-label" for="selectedDate">Date</label>
                            <div class="col-xs-1 col-lg-7 input-group">
                                <input type="date" class="form-control"
                                    name="selectedDate" id="selectedDate"
                                    datepicker-popup show-button-bar="false" show-weeks="false" is-open="isOpen"
                                    data-ng-click="isOpen = !isOpen; $event.preventDefault();"
                                    data-ng-required="true"
                                    data-ng-model="getSetSelectedDate" data-ng-model-options="{getterSetter: true}"
                                />
                                <span class="input-group-btn"><input type="button" class="btn btn-primary" id="today" value="Today" data-ng-click="getSetSelectedDate(today)" /></span>
                            </div>
                        </div>
                    </div>
                    <div data-ng-init="xsTotalsCollapsed = true"><div class="visible-xs-block col-xs-1">
                        <button class="btn btn-info" data-ng-click="xsTotalsCollapsed = !xsTotalsCollapsed">{{xsTotalsCollapsed ? 'Show' : 'Hide'}} Totals</button>
                    </div></div>
                    <div class="visible-lg-block col-sm-4">&nbsp;</div>
                    <div><div class="visible-lg-block col-sm-4">
                        <button class="btn btn-danger" data-ng-click="archiveDietEntries()"><span class="glyphicon glyphicon-modal-window"></span> Archive Diet Entries</button>
                        <button class="btn btn-warning pull-right" data-ng-click="foodListEditor()"><span class="glyphicon glyphicon-modal-window"></span> Food Editor</button>
                    </div></div>
                </div>

                <div class="row bg-default hidden-xs" id="dateSummaryNotXS">
                    <div class="form-group">
                        <div class="col-sm-4 form-horizontal">
                            <diet-daily total of="calories"></diet-daily>
                            <diet-daily total of="protein"></diet-daily>
                            <diet-daily total of="carbohydrate"></diet-daily>
                            <span style="display: none;"><diet-daily total of="sugar" text="of which Sugars"></diet-daily></span>
                            <diet-daily total of="fat"></diet-daily>
                        </div>

                        <div class="col-sm-4 form-horizontal">
                            <diet-daily total of="fibre"></diet-daily>
                            <diet-daily total of="fruitnveg" text="Total Ptns Fruit/Veg"></diet-daily>
                            <diet-daily total of="sodium" dp=4></diet-daily>
                            <diet-daily total of="potassium" dp=4></diet-daily>
                        </div>

                        <div class="col-sm-4 form-horizontal">
                            <diet-daily total of="wwpoints" text="Total WW Points"></diet-daily>
                            <diet-daily percentage of="protein"></diet-daily>
                            <diet-daily percentage of="carbohydrate"></diet-daily>
                            <diet-daily percentage of="fat"></diet-daily>
                        </div>
                    </div>
                </div>
                <div class="row bg-default visible-xs-block" id="dateSummaryXS">
                    <div class="col-xs-12 form-horizontal">
                        <div class="form-group">
                            <diet-daily total of="calories"></diet-daily>
                            <diet-daily total of="protein"></diet-daily>
                            <div collapse="xsTotalsCollapsed">
                                <diet-daily total of="carbohydrate"></diet-daily>
                                <span style="display: none;"><diet-daily total of="sugar" text="of which Sugars"></diet-daily></span>
                                <diet-daily total of="fat"></diet-daily>
                                <diet-daily total of="fibre"></diet-daily>
                                <diet-daily total of="wwpoints" text="Total WW Points"></diet-daily>
                                <diet-daily total of="fruitnveg" text="Total Ptns Fruit/Veg"></diet-daily>
                                <diet-daily total of="sodium" dp=4></diet-daily>
                                <diet-daily total of="potassium" dp=4></diet-daily>
                            </div>
                        </div>
                        <div class="form-group">
                            <div collapse="xsTotalsCollapsed">
                                <diet-daily percentage of="protein"></diet-daily>
                                <diet-daily percentage of="carbohydrate"></diet-daily>
                                <diet-daily percentage of="fat"></diet-daily>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="well">

                <div class="row text-center" id="dateDetailHeadings">
                    <div class="col-xs-12 col-sm-4 col-md-2 control-label">Food type</div>
                    <div class="col-xs-4 col-sm-2 col-md-1 control-label">Quantity</div>
                    <div class="col-xs-4 col-sm-2 col-md-1 control-label">Calories</div>
                    <div class="col-xs-4 col-sm-2 col-md-1 control-label">Protein</div>
                    <div class="col-sm-1 control-label hidden-xs">Carbohydrate</div>
                    <div class="col-sm-1 control-label hidden-xs">Fats</div>
                    <div class="col-md-1 control-label hidden-xs hidden-sm">Fibre</div>
                    <div class="col-md-1 control-label hidden-xs hidden-sm">Ptns Fruit/Veg</div>
                    <div class="col-md-1 control-label hidden-xs hidden-sm">Sodium</div>
                    <div class="col-md-1 control-label hidden-xs hidden-sm">Potassium</div>
                    <div class="col-md-1 control-label hidden-xs hidden-sm">WW Points</div>
                </div>

                <div class="row" data-ng-repeat="foodItem in foodItems">
                    <div class="col-xs-12 col-sm-4 col-md-2">
                        <div class="input-group">
                            <span class="input-group-btn"><button class="btn btn-danger" data-ng-click="deleteFoodItem(foodItem)"><span class="glyphicon glyphicon-remove"></span></button></span>
                            <select
                                class="form-control"
                                data-ng-model="foodItem.getSetFoodId" data-ng-model-options="{getterSetter: true}"
                                data-ng-options="food.id as food.name for food in foods"
                            >
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-1"><input type="number" class="form-control"                              value="{{foodItem.quantity | number: 2}}" data-ng-model="foodItem.getSetQuantity" data-ng-model-options="{getterSetter: true}" data-ng-focus="quantityFocussed($event)" /></div>
                    <div class="col-xs-4 col-sm-2 col-md-1"><input type="number" class="form-control"                     readonly value="{{foodItem.calories() | number: 2}}" data-ng-bind="foodItem.calories()" /></div>
                    <div class="col-xs-4 col-sm-2 col-md-1"><input type="number" class="form-control"                     readonly value="{{foodItem.protein() | number: 2}}" data-ng-bind="foodItem.protein()" /></div>
                    <div class="col-sm-1"                  ><input type="number" class="form-control hidden-xs"           readonly value="{{foodItem.carbohydrate() | number: 2}}" data-ng-bind="foodItem.carbohydrate()" /></div>
                    <div class="col-sm-1"                  ><input type="number" class="form-control hidden-xs"           readonly value="{{foodItem.fat() | number: 2}}" data-ng-bind="foodItem.fat()" /></div>
                    <div class="col-md-1"                  ><input type="number" class="form-control hidden-xs hidden-sm" readonly value="{{foodItem.fibre() | number: 2}}" data-ng-bind="foodItem.fibre()" /></div>
                    <div class="col-md-1"                  ><input type="number" class="form-control hidden-xs hidden-sm" readonly value="{{foodItem.fruitnveg() | number: 2}}" data-ng-bind="foodItem.fruitnveg()" /></div>
                    <div class="col-md-1"                  ><input type="number" class="form-control hidden-xs hidden-sm" readonly value="{{foodItem.sodium() | number: 4}}" data-ng-bind="foodItem.sodium()" /></div>
                    <div class="col-md-1"                  ><input type="number" class="form-control hidden-xs hidden-sm" readonly value="{{foodItem.potassium() | number: 4}}" data-ng-bind="foodItem.potassium()" /></div>
                    <div class="col-md-1"                  ><input type="number" class="form-control hidden-xs hidden-sm" readonly value="{{foodItem.wwpoints() | number: 2}}" data-ng-bind="foodItem.wwpoints()" /></div>

                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-1 form-group form-inline">
                        <button class="btn btn-primary form-control" data-ng-click="addFoodItem()"><span class="glyphicon glyphicon-plus"></span></button>
                        <div>&nbsp;</div>
                    </div>
                </div>

            </div>

            <script type="text/ng-template" id="foodListEditor.html">
                <div class="container-fluid text-primary bg-primary"><span></span>
                    &nbsp;
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="pull-right">
                                    <button class="btn btn-success" id="add" data-ng-click="add()">Add Food</button>
                                    <button class="btn btn-primary" id="save" data-ng-click="done()">Done</button>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">&nbsp;</div>
                            <span data-ng-repeat="which in columns"><div class="{{$index ? 'col-lg-1' : 'col-lg-2'}}">{{which.label}}</div></span>
                        </div>
                        <div class="row" data-ng-repeat="food in foods" data-ng-class-odd="'odd-food'" data-ng-class-even="'even-food'" data-ng-click="edit(food)">
                            <span class="col-lg-1">
                                <button class="btn btn-sm btn-warning" data-ng-click="delete(food, $event)">Delete</button>
                            </span>
                            <div><span data-ng-repeat="which in columns"><span class="{{$index ? 'col-lg-1' : 'col-lg-2'}}">{{food[which.key]}}</span></span></div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="foodEditor.html">
                <div class="container-fluid text-primary bg-default"><span></span>
                    &nbsp;
                    <div class="well form-horizontal">
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <span>
                                    <button class="btn btn-warning" id="delete" data-ng-click="delete()">Delete Food</button>
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <span class="pull-right">
                                    <button class="btn btn-primary" id="save" data-ng-click="done()">Done</button>
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                                <div class="form-inline">
                                    <label for="edit_name" class="col-lg-3 control-label">{{columns[0].label}}</label>
                                    <input type="text" name="edit_name" class=" form-control" size="100" value="{{gs_name()}}" data-ng-model="gs_name" data-ng-model-options="{debounce: 300, getterSetter: true}" />
                                </div>
                        </div>
                        <div class="row form-group">
                                <div data-ng-repeat="which in columns.slice(1)" class="form-inline">
                                    <label for="edit_{{which.key}}" class="control-label col-lg-3">{{which.label}}</label>
                                    <input type="text" name="edit_{{which.key}}" class="form-control col-lg-1" size="7" value="{{$parent['gs_' + which.key]()}}" data-ng-model="$parent['gs_' + which.key]" data-ng-model-options="{debounce: 300, getterSetter: true}" />
                                </div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="archiveDietEntries.html">
                <div class="container-fluid"><span></span>
                    <div>&nbsp;</div>
                    <div class="well">
                        <div class="row"><h1 class="col-lg-12">Archive Diet Entries</h1></div>
                        <div class="row">
                            <p class="col-lg-12">
                                Diet entries on Start Date up to and including End Date will be removed from the database
                                and saved somewhere on the server.
                            </p>
                            <p class="col-lg-12">
                                The file name used will include the Archive ID, start and end dates (specified below) and
                                the time the archive was produced.
                            </p>
                        </div>
                    </div>
                    <form name="archiveDietEntriesForm" class="well">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row form-horizontal">
                                    <label class="col-lg-2 control-label" for="startDate">Start Date</label>
                                    <div class="col-lg-4 input-group">
                                        <input type="date" required="required" class="form-control"
                                        name="startDate" id="startDate"
                                        datepicker-popup show-button-bar="false" show-weeks="false" is-open="isStartOpen"
                                        data-ng-click="isStartOpen = !isStartOpen; $event.preventDefault();"
                                        data-ng-required="true"
                                        data-ng-model="getSetStartDate" data-ng-model-options="{getterSetter: true}"
                                        />
                                        <!-- span class="input-group-btn"><input type="button" class="btn btn-primary" id="today" value="Today" data-ng-click="getSetStartDate(today)" /></span -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row form-horizontal">
                                    <label class="col-lg-2 control-label" for="endDate">End Date</label>
                                    <div class="col-lg-4 input-group">
                                        <input type="date" required="required" class="form-control"
                                        name="endDate" id="endDate"
                                        datepicker-popup show-button-bar="false" show-weeks="false" is-open="isEndOpen"
                                        data-ng-click="isEndOpen = !isEndOpen; $event.preventDefault();"
                                        data-ng-required="true"
                                        data-ng-model="getSetEndDate" data-ng-model-options="{getterSetter: true}"
                                        />
                                        <!-- span class="input-group-btn"><input type="button" class="btn btn-primary" id="today" value="Today" data-ng-click="getSetEndDate(today)" /></span -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div class="row">
                            <p class="col-lg-12">
                                Number of diet entries to be archived: {{archivedEntryCount}}.
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-lg-12">
                                Number of foods thus with no diet entries: {{foodFreedCount}}.
                            </p>
                        </div>
                        <div>&nbsp;</div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row form-horizontal">
                                    <label class="col-lg-2 control-label" for="archiveId">Archive ID</label>
                                    <div class="col-lg-4 input-group"><input type="text" required="required" class="form-control" name="archiveId" id="archiveId" data-ng-model="archiveId" /></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row form-horizontal">
                                    <span class="col-lg-12"><span class="pull-right">
                                        <span class="well"><button class="btn btn-primary" data-ng-click="close()">Close</button></span>
                                        <span>&nbsp;</span>
                                        <span class="well"><button class="btn btn-warning" data-ng-click="submit()">Submit</button></span>
                                    </span></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div>&nbsp;</div>
                    <div class="well">
                        <div class="row"><h1 class="col-lg-12">Manage Archives</h1></div>
                        <div class="row" style="padding-bottom: 0.5em;" data-ng-repeat="item in getSetArchiveList()">
                            <span class="col-lg-1"><button class="btn btn-danger" data-ng-click="delete(item)"><span class="glyphicon glyphicon-trash"></span> Delete</button></span>
                            <span class="col-lg-1"><button class="btn btn-warning" data-ng-click="restore(item)"><span class="glyphicon glyphicon-share-alt"></span> Restore</button></span>
                            <span class="col-lg-1"><a href="{{item}}"><button class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> Download</button></a></span>
                            <span class="col-lg-9">{{item.split('/').reverse()[0]}}</span>
                        </div>
                        &nbsp;
                        <div class="row">
                            <span class="col-lg-1"><button class="btn"><span class="glyphicon glyphicon-cloud-upload" data-ng-click="upload()"></span> Upload</button></span>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="template/modal/window.html">
                <div modal-render="{{$isRendered}}" tabindex="-1" role="dialog" class="modal" modal-animation-class="fade" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
                    <div class="modal-dialog" style="width: 95% !important; max-height: 92% !important; overflow: auto;" ng-class="size ? 'modal-' + size : ''"><div class="modal-content" modal-transclude></div></div>
                </div>
            </script>

            <script type="text/ng-template" id="dietDaily.html"><span></span>
                <div class="form-inline">
                    <label for="{{which}}_{{what}}" class="col-xs-8 col-sm-8 control-label">{{label}}</label>
                    <input type="text" class="col-xs-1 col-sm-1 form-control" style="width: auto;" size="7" readonly value="{{what[which] | number: dp}}" name="{{which}}_{{what}}" data-ng-bind="what[which]" />
                </div>
            </script>

            <script type="text/ng-template" id="dietEditDetail.html">
                <label for="edit_{{which}}" class="control-label">{{label}}</label>
                <input type="number" class="form-control" style="width: auto;" size="7" value="{{what[which]}}" name="edit_{{which}}" data-ng-bind="what[which].value" />
            </script>

        </div>
    </body>
</html>
